@font-face {
    font-family: 'Poppons-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppons-extraBold';
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Poppons-light';
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppons-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppons-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}